<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div #gmap style="width:1280px;height:800px"></div>

<div class="col-md-3 col-sm-12 col-xs-12">
  <button (click)="setMapType('terrain')" class="btn btn-primary">Terrain</button>
  <button (click)="setMapType('satellite')" class="btn btn-danger">Satellite</button>
  <button (click)="setMapType('roadmap')" class="btn btn-warning">Road Map</button>
</div>

<form class="form-inline" #form="ngForm" (ngSubmit)="setCenter($event)" ac>
  <div class="form-group">
    Latitude:  <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
  </div>
  <div class="form-group">
    Longitude:  <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Go</button>
</form>
