<div class="main-component">
  <header id="showcase">
    <h1>Landing Page</h1>
  </header>
  <div id="content" class="container">
    The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog The quick brown fox jumps over the lazy dog The quick brown fox jumps over
    the lazy dog The quick brown fox jumps over the lazy dog
  </div>

  <a href="#" class="btn">Read More</a>
  <br><br>
</div>
